
<div class="main-card mb-3 card">
    <div class="card-header sticky-card d-flex justify-content-between align-items-center">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">CM Task List</div>
        <div class="btn-actions-pane-right">
            <button *ngIf="this.permissionGroup.canUpdate" type="button" class="mb-2 mr-2 btn-transition btn btn-outline-info  pr-1" (click)="openStatusChangeModal()">
                Inactive CM Task
            </button>
            
            <button *ngIf="this.permissionGroup.canCreate" type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="createCMTask()">
                <fa class="mr-2" name="plus"></fa>
                Create New
            </button>
        </div>
    </div>
    <div>

         
      
        <app-p-table [pTableSetting]="generatedCmTaskPtableSettings"
                     [pTableMasterData]="DailyCMAactivityList"
                     (serverSiteCallbackFn)="fnSearch($event)"
                     (cellClickCallbackFn)="fnChangeStatus($event)"
                     (customActivityOnRecord)="fnCustomTrigger($event)">
        </app-p-table>
        <div class="p-table-footer">
            <div class="row">
                <div class="col col-xs-4">
                    <div [innerHTML]="showingPageDetails"></div>
                </div>
                <div class="col-md-8">
                    <p-paginator #paging class="page-item"
                    [rows]="pageSize" 
                    (onPageChange)="paginate($event)"></p-paginator>
                </div>

            </div>
        </div>
      
    </div>

</div>

   