<div class="col col-lg-12">
    <div class="row no-gutters">
        <div class="col text-right">
            <button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-success" (click)="handleExport()">
                Export to Excel
            </button>
        </div>        
    </div>  
    <div  class="card">
  <app-p-table [pTableSetting]="ptableSettings" [pTableMasterData]="rows" 
        (cellClickCallbackFn)="fnTransactionPtableCellClick($event)" (customActivityOnRecord)="haneleCustomActivityOnRecord($event)"
        (serverSiteCallbackFn)="fnSearch($event)"  (multiSelectDropdownCallbackFn) = "dropDownChange($event)"
        (callbackFnOnPageSizeChange)="handlePazeSizeChange($event)"
        >
  </app-p-table>
    <div class="p-table-footer">
        <div class="row">
            <!-- <div class="col col-xs-4">
                <div [innerHTML]="showingPageDetails"></div>
            </div> -->
            <div class="col-12">
                <p-paginator #paging class="page-item"
                [rows]="pageSize" [totalRecords]="total"
                (onPageChange)="paginate($event)" [currentPageReportTemplate]="getPaginationStatus()" ></p-paginator>
            </div>

        </div>
    </div>
</div>    
  </div>