<form>
    <div class="modal-header">
        <h4 class="modal-title">Import HHT User</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="errors.length === 0">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label>1. Download excel template (optional)</label><br />
                        <a href="examples/cmr_tms_user.xlsx" type="button" class="btn btn-info btn-sm">Download</a>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label>2. Edit your excel file</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12" >
                    <div class="position-relative form-group">
                        <label for="inputFile">3. Upload your excel file</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept=".xlsx,.xls,.csv" #inputFile id="inputFile" 
                                (change)="onChangeInputFile($event)">
                            <label class="custom-file-label" for="inputFile">{{selectedFileName?selectedFileName:'Choose file'}}</label>
                        </div>
                        <small class="text-danger" *ngIf="fileError">
                            {{fileError}}
                        </small>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="errors">
                   
                </div>
            </div>

        </div>

        <div *ngIf="errors.length > 0">
            <div class="form-row">
                <div class="col-md-12">
                    <table class="table table-hover table-sm table-striped table-bordered" >
                        <thead class="bg-primary text-white">
                            <tr>
                                <th scope="col" width="10%">Row</th>
                                <th scope="col" width="30%">Column Name</th>
                                <th scope="col" width="60%">Error Message</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of errors;let i = index" [attr.data-index]="i">
                                <td>{{m.row}}</td>
                                <td>{{m.columnName}}</td>
                                <td>{{m.errorMessage}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!isFormValid" *ngIf="errors.length === 0">Import</button>
        <button type="button" class="btn btn-primary" (click)="importAgain()"  *ngIf="errors.length > 0">Import Again</button>
    </div>
</form>